


*{
    padding: 0px;
    margin:0px;
    
}



.logo{
    
    width: 80px;
    border-style: solid;
    border-color: rgb(65, 49, 49);
    border-radius: 5px;
    text-align: left;
   
}




.header_nav{
    width: 100%;
    height: auto;
    background-color: black;
    border-style: solid;
    border-color: rgb(65, 49, 49);
    border-radius: 5px;
    text-align: left;
    
}

.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 80%;
    margin: auto;
    padding: 35px;
    
    
}
.navegacion ul{
    display: flex;
    list-style: none;
}

.navegacion ul li{
    padding: 1rem;
    
}
.navegacion ul li a{
    text-decoration: none;
    /*Ponele los detalles y colores que quieras*/
    color: rgb(255, 255, 255);
}
.navegacion ul li a:hover{
    color: rgb(235, 212, 212);
    text-decoration: underline;

}

section{
    background-color: rgb(12, 11, 11);
    width: 70%;
    box-sizing: border-box;

    
}

.cine{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

h3{
    color: white;
}

.dune{
    width: 250px ; 
    height: 300px;
}

.spiderman{
    width: 250px ; 
    height: 300px;
}


aside{
    background-color: black;
}
 h2 {
     color:white
 }

 .promociones{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.bajo{
    background-color: black;
    
}
.bajo img{
    width: 100px;
    margin : 50px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(65, 49, 49);
    border-radius: 5px;
    text-align: left;
    
}
 .bajo p{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
 }









 body{
     background-color: black;
     margin: 0px 0px 0px 50px;
     
     }

h1{
    color: white;
}

body p{
    color:white
}

.precio{
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;

}
.grid div{
    background-color: gray;
    padding: 1em;
}

.grid div:hover{
    border: 1px solid rgb(194, 59, 59);

}


.proximos_estrenos{
    background-color: black;
}
 .jw h2:hover{
    border: 2px solid rgb(195, 72, 72)
}

.gemelo_siniestro h2:hover{
    border: 2px solid rgb(195, 72, 72)

    
}

.lightyear h2:hover{
    border: 2px solid rgb(195, 72, 72)
}


.grid{
    display: grid;
    grid-template-columns: 50% 50%;

}

.registro img{
    width:1000px;
    margin: 90px 0px 0px 0px;
    
}

.registro h1{
    margin: 50px 0px 0px 0px;
}